body{
  align-content: center;
}
h1 {
  font-family: Baskerville, cambria, serif;
  font-size: 24px;
  color: cadetblue;
}
#hello {
  font-weight: bold;
  font-style: italic;
}
.navbar {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: cornflowerblue;
  border-color: cadetblue;
}